--create database painting
go
use painting
GO
PRINT N'Recreating the objects for the database'
--Drop all FKs in the database
declare @table_name sysname, @constraint_name sysname
declare i cursor static for 
select c.table_name, a.constraint_name
from INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS a join INFORMATION_SCHEMA.KEY_COLUMN_USAGE b
on a.unique_constraint_name=b.constraint_name join INFORMATION_SCHEMA.KEY_COLUMN_USAGE c
on a.constraint_name=c.constraint_name
WHERE upper(c.table_name) in (upper('utB'),upper('utQ'),upper('utV'))
open i
fetch next from i into @table_name,@constraint_name
while @@fetch_status=0
begin
	exec('ALTER TABLE '+@table_name+' DROP CONSTRAINT '+@constraint_name)
	fetch next from i into @table_name,@constraint_name
end
close i
deallocate i
GO
--Drop all tables
declare @object_name sysname, @sql varchar(8000)
declare i cursor static for 
SELECT table_name from INFORMATION_SCHEMA.TABLES
where upper(table_name) in (upper('utB'),upper('utQ'),upper('utV'))

open i
fetch next from i into @object_name
while @@fetch_status=0
begin
	set @sql='DROP TABLE [dbo].['+@object_name+']'
	exec(@sql)
	fetch next from i into @object_name
end
close i
deallocate i
GO

CREATE TABLE [dbo].[utB] (
	[B_DATETIME] [datetime] NOT NULL ,
	[B_Q_ID] [int] NOT NULL ,
	[B_V_ID] [int] NOT NULL ,
	[B_VOL] [tinyint] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[utQ] (
	[Q_ID] [int] NOT NULL ,
	[Q_NAME] [varchar] (35) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[utV] (
	[V_ID] [int] NOT NULL ,
	[V_NAME] [varchar] (35) NOT NULL ,
	[V_COLOR] [char] (1) NOT NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[utB] WITH NOCHECK ADD 
	CONSTRAINT [PK_utB] PRIMARY KEY  
	(
		[B_DATETIME],
		[B_Q_ID],
		[B_V_ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[utQ] WITH NOCHECK ADD 
	CONSTRAINT [PK_utQ] PRIMARY KEY 
	(
		[Q_ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[utV] WITH NOCHECK ADD 
	CONSTRAINT [PK_utV] PRIMARY KEY  
	(
		[V_ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[utB] ADD 
	CONSTRAINT [FK_utB_utQ] FOREIGN KEY 
	(
		[B_Q_ID]
	) REFERENCES [dbo].[utQ] (
		[Q_ID]
	),
	CONSTRAINT [FK_utB_utV] FOREIGN KEY 
	(
		[B_V_ID]
	) REFERENCES [dbo].[utV] (
		[V_ID]
	)
GO
                                                                                                                                                                                                                                                                
----utQ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ 
insert into utQ values(1,'Square # 01')
insert into utQ values(2,'Square # 02')
insert into utQ values(3,'Square # 03')

GO

                                                                                                                                                                                                                                                                 
----utV------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ 
insert into utV values(1,'Balloon # 01','R')
insert into utV values(2,'Balloon # 02','R')
insert into utV values(3,'Balloon # 03','R')

GO

                                                                                                                                                                                                                                                                 
----utB------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ 
insert into utB values('20030101 01:12:01.000',1,1,155)
insert into utB values('20030623 01:12:02.000',1,1,100)
insert into utB values('20030101 01:12:03.000',2,2,255)

GO


